
@charset "utf-8";

@font-face{
    font-family: BebasBold;
    src: url(BebasNeueBold-7B9LE.ttf);
  }
  @font-face{
    font-family: Bebas;
    src: url(BebasNeueRegular-gxj83.ttf);
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Bebas;
    height: 100vh;
    margin: 0;
}
/*navbar*/
.nav {
    font-size: 20px;
    position: fixed;
    z-index: 1;
    background-color: #1e1c1c;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.nav .container {
    font-family: BebasBold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    transition: all 0.3s ease-in-out;
}

.nav ul {
    display: flex;
    font-family: BebasBold;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    transition: all 0.3s ease-in-out;
}
.container > h2{
    color: white;
}

img.logo{
    padding: 20px;
    width: 75px;
    height: 75px;
    background-color: #fff;
    border-radius: 100%;
    margin: 8px;
  }

body{
    text-align: left;
    font-family: Bebas;
    margin-top: 200px;
    align-items: left;
    justify-content: left;
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 25px;
}

.col-1{
    grid-column: 1;
}

.col-2{
    width: auto;
}

.btn{
    margin: 15px 0;
    background-color: #ddd;
    color: w;
}

.btn:hover{
    background-color: #666;
}
footer{
    background-color: #1e1c1c;
    color: #fff;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-family: Bebas;
}

.fa-brands {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    content: '\f075';

    color: #fff;
    font-size: 3rem;
    border: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #5a5a5a;
}