@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

.nav {
    font-family: 'Delicious Handrawn';
    font-size: 40px;
    position: fixed;
    z-index: 1;
    background-color: #b33951;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.nav .container {
    font-family: 'Delicious Handrawn';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    transition: all 0.3s ease-in-out;
}

.nav ul {
    font-family: 'Delicious Handrawn';
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    font-family: 'Delicious Handrawn';
    color: #000;
    text-decoration: none;
    padding: 7px 25px;
    transition: all 0.3s ease-in-out;
}


img.logo{
    padding: 20px;
    width: 150px;
    height: 150px;
}

body{
    text-align: center;
    font-family: 'Delicious Handrawn';
    margin-top: 200px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.product{
    transition: transform 0.5s ease-in-out;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100,100,100,0.5);
    margin: 20px;
    padding: 30px;
    text-align: center;
}

.product .img-container {
    background-color: rgba(255,255,255,0.6);
    border-radius: 50%;
    width: 250px;
    height: 340px;
}

.product .img-container img{
    width: 220px;
    height: 310px;
}